<ion-content>
  
  <div class="formerea">
    
    <ion-text ><h1><ion-icon (click)="backToProfile()" size="large" class="icon" name="arrow-back-circle-sharp"></ion-icon>          إضافة منتج</h1></ion-text>
    <form [formGroup]="addinterfaceform" (ngSubmit)="submitAddProduct()">

      <ion-grid>
        <ion-row>
          <ion-col size="2"></ion-col>
          <ion-col size="8">
            <ion-item lines="full" id="title">
              <ion-input
              placeholder="اسم المنتج"
              type="text"
              lines="full"
              min="3"
              formControlName="productTitle"
              required="true"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="full" id="description">
              <ion-textarea
              placeholder="مواصفات المنتج"
              type="text"
              lines="full"
              inputmode="text"
              mode="ios"
              min="3"
              formControlName="productDescription"
              required="true"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="full" id="numbers">
              <ion-input             
              placeholder="عدد القطع المتوفرة"
              type="number"
              formControlName="availableUnits"
              required="true"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-label></ion-label>
            <ion-item lines="full" id="numbers">
              <ion-input              
              placeholder="الكمية باللتر /وزن المنتج"
              type="number"
              formControlName="productQuantity"
              required="true"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <!-- <ion-accordion-group>
              <ion-accordion value="الفئة / نوع المنتج">
                <ion-item slot="header">
                  <strong><ion-label>الفئة / نوع المنتج</ion-label></strong>
                </ion-item>

                <ion-list slot="content">
                  <ion-item *ngFor="let category of productCategories; i as index">
                    <ion-label>{{category}}</ion-label>
                  </ion-item>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group> -->
            <ion-item>

              <ion-select id="category" #category slot="end" placeholder="اختر فئة أو نوع المنتج" interface="popover" formControlName="productCategory" required="true">

                <ion-select-option *ngFor="let category of productCategories; i as index" [value]="category">{{category}}</ion-select-option>
                
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="category.value.startsWith('مواد غذائية') || category.value.startsWith('حلويات')">
          <ion-col>
            <ion-datetime
            id="dates"
            [(ngModel)]="defultDateValue"           
            mode="ios"
            placeholder="اختر تاريخ الانتهاء"
            displayFormat="D/MM/YYYY"
            pickerFormat="DD MMMM YYYY"
            max="2030-12-31"
            cancelText="الغاء"
            doneText="اختيار"
            formControlName="expirationDate"
            required="true"><ion-icon name="calendar-outline"></ion-icon></ion-datetime>
          </ion-col>
          <ion-col>
            <ion-datetime
            id="dates"
            [(ngModel)]="defultExpireValue"          
            mode="ios"
            placeholder="اختر تاريخ الانتاج"
            min="2020"
            displayFormat="D/MM/YYYY"
            pickerFormat="DD MMMM YYYY"
            cancelText="الغاء"
            doneText="اختيار"
            formControlName="productDate"
            required="true"><ion-icon name="calendar-outline"></ion-icon></ion-datetime>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3"></ion-col>
          <ion-col size="6.4">
            <ion-item lines="full" id="title">
              <ion-input               
                placeholder="(0.5 JD) سعر المنتج"
                type="number"
                lines="full"
                (blur)="formatToCurrency($event)"
                [(ngModel)]= "currency"
                formControlName="productPrice"
                required="true"><ion-icon name="cash-outline"></ion-icon></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
      </ion-grid>
      <ion-button type="button" id="picture" expand="block" (click)="selectImage()" color="secondary">اختيار صورة للمنتج<ion-icon name="image-outline"></ion-icon></ion-button>
      <span *ngIf="fileName !== ''"><ion-text>{{fileName}}</ion-text></span>
      <span *ngIf="errormessage !== ''" id="errormessage"><ion-text>{{errormessage}}</ion-text></span>
      <span *ngIf="addedmessage !== ''" id="addedsuccess"><ion-text>{{addedmessage}}</ion-text></span>
      <span id="addedsuccess"><ion-text>{{picData}}</ion-text></span>
      <ion-button type="submit" [disabled]="!addinterfaceform.valid" color="success" size="large" expand="block" id="submitButt">اضافة الى منتجاتي</ion-button>
      
    </form>
  </div>
</ion-content>
