<ion-header translucent="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-icon size="large" (click)="backToHome()" class="icon" name="arrow-back-sharp"></ion-icon>
        </ion-col>
        <ion-col size="8">
          <ion-title class="large-title" size="large">تسجيل حساب</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div id="stringErea">
    <h1>
      انشاء حساب جديد
    </h1>
    <ion-text>
      الرجاء ادخال المعلومات كاملة والتأكد من أن كلمة السر تحتوي على الأقل 8 حروف وأرقام
    </ion-text>
    <div id="loginlink">
      <ion-text >
        <h5>لديك حساب ؟ <strong><a routerLink="../login">سجل دخولك من هنا</a></strong></h5> 
      </ion-text>
    </div>
  </div>
  <div id="formerea">
  <form [formGroup]="interfaceForm" (ngSubmit)="submitSignup()">
    <ion-item lines="full" id="usernameinput">
      <ion-input
      placeholder="الاسم واسم العائلة أو اللقب"
      type="text"
      formControlName="userName"
      required="true"><ion-icon name="person-sharp"></ion-icon></ion-input>
    </ion-item>
    <ion-item lines="full" id="passwordinput">
      <ion-input 
      placeholder="(مطابقة لكلمة السر)تأكيد كلمة السر"
      type="password"
      formControlName="confirmPassword"
      required="true"><ion-icon name="lock-open-sharp"></ion-icon></ion-input>
    </ion-item>
    <ion-item lines="full" id="passwordinput">
      <ion-input
      placeholder="(على الأقل 8 خانات)كلمة السر"
      type="password" 
      formControlName="password"
      required="true"><ion-icon name="lock-open-sharp"></ion-icon></ion-input>
    </ion-item>
    <hr><hr><hr>
    <ion-item lines="full" id="phonenumber">
      <ion-input 
      placeholder="أدخل رقم الهاتف يفضل رقم الواتس اب"
      type="tel"
      formControlName="phoneNumber"
      required="true"><ion-icon name="call-sharp"></ion-icon></ion-input>
    </ion-item>
    <hr><hr>
    <ion-label><h1 style="color: white;"><strong>:العنوان</strong></h1></ion-label><hr><hr>
    <ion-item id="address">
      <!-- <ion-label>القطاع</ion-label> -->
      <ion-select slot="end" color="light" placeholder="القطاع" formControlName="district">
        <ion-select-option color="light" value="D01" >الأول</ion-select-option>
        <ion-select-option color="light" value="D02" >الثاني</ion-select-option>
        <ion-select-option color="light" value="D03" >الثالث</ion-select-option>
        <ion-select-option color="light" value="D04">الرابع</ion-select-option>
        <ion-select-option color="light" value="D05">الخامس</ion-select-option>
        <ion-select-option color="light" value="D06">السادس</ion-select-option>
        <ion-select-option color="light" value="D07">السابع</ion-select-option>
        <ion-select-option color="light" value="D08">الثامن</ion-select-option>
        <ion-select-option color="light" value="D09">التاسع</ion-select-option>
        <ion-select-option color="light" value="D10">العاشر</ion-select-option>
        <ion-select-option color="light" value="D11">الحادي عشر</ion-select-option>
        <ion-select-option color="light" value="D12">الثاني عشر</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item id="address">
      <!-- <ion-label>البلوك</ion-label> -->
      <ion-select slot="end" color="light" placeholder="الحارة / البلوك" formControlName="block">
        <ion-select-option color="light" value="B01">1</ion-select-option>
        <ion-select-option color="light" value="B02">2</ion-select-option>
        <ion-select-option color="light" value="B03">3</ion-select-option>
        <ion-select-option color="light" value="B04">4</ion-select-option>
        <ion-select-option color="light" value="B05">5</ion-select-option>
        <ion-select-option color="light" value="B06">6</ion-select-option>
        <ion-select-option color="light" value="B07">7</ion-select-option>
        <ion-select-option color="light" value="B08">8</ion-select-option>
        <ion-select-option color="light" value="B09">9</ion-select-option>
        <ion-select-option color="light" value="B10">10</ion-select-option>
        <ion-select-option color="light" value="B11"> 11</ion-select-option>
        <ion-select-option color="light" value="B12"> 12</ion-select-option>
        <ion-select-option color="light" value="B13">13</ion-select-option>
        <ion-select-option color="light" value="B14">14</ion-select-option>
        <ion-select-option color="light" value="B15">15</ion-select-option>
        <ion-select-option color="light" value="B16">16</ion-select-option>
        <ion-select-option color="light" value="B17">17</ion-select-option>
        <ion-select-option color="light" value="B18">18</ion-select-option>
        <ion-select-option color="light" value="B19">19</ion-select-option>
        <ion-select-option color="light" value="B20">20</ion-select-option>
        <ion-select-option color="light" value="B21">21</ion-select-option>
        <ion-select-option color="light" value="B22">22</ion-select-option>
        <ion-select-option color="light" value="B23">23</ion-select-option>
        <ion-select-option color="light" value="B24"> 24</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="full" id="address">
      <ion-input
      placeholder="المنزل (رقم أو رقم-A  رقم-رقم أو)"
      type="text"
      formControlName="houseHold"
      required="true"><ion-icon name="home-sharp"></ion-icon></ion-input>
    </ion-item>
    <hr><hr><hr>
    <ion-item lines="full" id="usernameinput">
      <ion-input
      placeholder="الايميل اذا كان موجود (example@example.com)"
      type="email"
      formControlName="email"
      required="false"><ion-icon name="mail-sharp"></ion-icon></ion-input>
    </ion-item>
    <span *ngIf="errorMessage?.length > 0">{{errorMessage}}</span>
    <h2 id="success" *ngIf="successMessage?.length > 0">{{successMessage}}</h2>
    <ion-button class="subbutton" type="submit" [disabled]="!interfaceForm.valid" expand="block">تأكيد التسجيل</ion-button>
  </form>
</div>
</ion-content>
