#stringErea{
  text-align: center;
  color: white;
}

#formerea{
  text-align: end;
}

span{
  color: rgb(255, 0, 0);
}

.icon{
  color: royalblue;
}

#usernameinput{
  color: white;
  border-radius: 50px;
  width: auto;
  text-align: end;
  --background: transparent;
  --border-color: white;
  border-style:inset;
}

#passwordinput{
  color: white;
  border-radius: 50px;
  --background: transparent;
  --border-color: white;
  border-style:inset;
  width: 50%;
  display: inline-flex;
  text-align: end;
  margin-top: 20px;
}

#phonenumber{
  color: white;
  border-radius: 50px;
  --background: transparent;
  --border-color: white;
  border-style:inset;
  text-align: center;
}

#address{
  color: white;
  --background:transparent;
  text-align: end;
}

#success{
  color: white;
  background-color: green;
}

.subbutton{
  height: 50px;
  margin-top: 30px;
  font-size: large;
}