ion-title.large-title {
    color:dodgerblue;
    font-size: 30px;
  }

#stringErea{
  text-align: center;
}

#formerea{
  text-align: end;
}

span{
  background-color:lightpink;
  color: rgb(255, 0, 0);
}

.icon{
  color: royalblue;
}

#usernameinput{
 border-radius: 50px;
 width: auto;
 text-align: center;
 --background: transparent;
 --border-color: white;
 border-style:inset;
 color: black;
}

#passwordinput{
  border-radius: 50px;
  width: 170px;
  text-align: center;
  margin-right: 10px;
  margin-top: 20px;
  display: inline-block;
  --background: transparent;
 --border-color: white;
 border-style:inset;
 color: black;
}