ion-title.large-title {
    color:dodgerblue;
    font-size: 30px;
    margin-left: 10%;
  }

#stringErea{
  text-align: center;
}

#formerea{
  text-align: end;
}

span{
  color:firebrick;
}

.icon{
  color: royalblue;
  padding-right: 5px;
}