<ion-header>
  <ion-toolbar>
    <ion-title class="large-title" size="large"><ion-icon color="secondry" (click)="backToProfile()" class="icon" name="arrow-back-sharp"></ion-icon>تعديل معلومات الحساب</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fullContent">
  <form [formGroup]="editProfileForm" (ngSubmit)="submitEditForm()">
    <ion-item lines="full" id="usernameinput">
      <ion-input
      placeholder="اسم المستخدم الجديد"
      type="text"
      formControlName="userName"
      ><ion-icon name="person-sharp"></ion-icon></ion-input>
    </ion-item>
    <ion-item lines="full" id="passwordinput">
      <ion-input 
      placeholder="تأكيد كلمة السر"
      type="password"
      formControlName="confirmPassword"
      ><ion-icon name="lock-open-sharp"></ion-icon></ion-input>
    </ion-item>
    <ion-item lines="full" id="passwordinput">
      <ion-input
      placeholder="كلمة السر الجديدة"
      type="password" 
      formControlName="password"
      ><ion-icon name="lock-open-sharp"></ion-icon></ion-input>
    </ion-item>
    <ion-item lines="full" id="phonenumber">
      <ion-input 
      placeholder="رقم الهاتف الجديد اذا كنت ترغب بتعديله من 10 خانات"
      type="tel"
      formControlName="phoneNumber"
      ><ion-icon name="call-sharp"></ion-icon></ion-input>
    </ion-item>
    <ion-item lines="full" id="emailinput">
      <ion-input
      placeholder="أدخل الايميل إذا كنت ترغب بإضافته أو تعديل الموجود حالياً"
      type="email"
      formControlName="email"
      required="false"><ion-icon name="mail-sharp"></ion-icon></ion-input>
    </ion-item><br><br>
    <ion-text slot="end">للتأكيد أدخل كلمة السر القديمة واضغط على اشارة التأكد التي ستظهر أمام الكلمة</ion-text>
    <ion-item lines="full" id="passwordinput">
      <ion-button id="checkButton" color="secondary" *ngIf="oldPassword.value != '' && oldPassword.value != null" (click)="checkOldPassword(oldPassword.value)"><ion-icon id="checkIcon" slot="icon-only" name="checkmark-circle-sharp"></ion-icon></ion-button>
      <ion-input
      #oldPassword
      (ionChange)="formValuesAsString()"
      placeholder="كلمة السر القديمة"
      type="password" 
      formControlName="oldPassword"
      required="true"><ion-icon name="lock-open-sharp"></ion-icon></ion-input>
    </ion-item>
    <span id="errormessage" *ngIf="errorMessage?.length > 0">{{errorMessage}}</span>
    <h2 id="success" *ngIf="successMessage?.length > 0">{{successMessage}}</h2>
    <ion-button class="subbutton" type="submit" [disabled]="!filled || !oldPasswordCorrect" expand="block" color="success">تعديل المعلومات</ion-button>
  </form>
</ion-content>
