<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-icon size="large" (click)="backToSignup()" class="icon" name="arrow-back-sharp"></ion-icon>
        </ion-col>
        <ion-col size="8">
          <ion-title size="large">تسجيل الدخول</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content fullScreen="true">
  <div class="textcontent">
    <h1>صفحة تسجيل الدخول</h1>
    <ion-text id="textexplain">الرجاء كتابة رقم الهاتف وكلمة المرور للمستخدم  مطابقات للبيانات التي سجلتها لدينا أثناء تسجيل حسابك</ion-text>
  </div>
  <div class="formerea">
    <form [formGroup]="loginInterfaceForm" (ngSubmit)="submitLogin()">
      <ion-item lines="full" id="phonenumber">
        <ion-input
        placeholder="أدخل رقم الهاتف(07 xxx-xxx-xx)"
        type="tel"
        formControlName="phoneNumber"
        required="true"><ion-icon name="call-sharp"></ion-icon></ion-input>
      </ion-item>
      <ion-item lines="full" id="passwordinput">
        <ion-input
        placeholder="أدخل كلمة السر"
        type="password"
        formControlName="password"
        required="true"><ion-icon name="lock-closed-sharp"></ion-icon></ion-input>
      </ion-item>
      <ion-text id="errormessage" *ngIf="errorMessage !== ''">{{errorMessage}}</ion-text>
      <ion-button type="submit" id="buttonsubmit" [disabled]="!loginInterfaceForm.valid" expand="block" color="primary">تسجيل الدخول</ion-button>
      
    </form>
  </div>
</ion-content>
