span{
    color: firebrick;
    font-weight: bold;
}

#errormessage{
    color: red;
    font-weight: bolder;
    padding-top: 20px;
}

#buttonsubmit{
    font-size: 20px;
}

.icon{
    color: royalblue;
    padding-right: 5px;
}