<ion-header>
  <ion-toolbar>
    <ion-searchbar mode="ios" showCancelButton="focus" placeholder="ابحث عن منتج محدد" animated><ion-icon size="large" name="person" (click)="routeProfile()" *ngIf="this.loggedin"></ion-icon></ion-searchbar>
  </ion-toolbar> 
</ion-header>

<ion-content fullscreen class="maincontent">
  <div id="fulllist" > 
    <ion-card (click)="showProductPage()" *ngFor="let product of productions; index as i">
      <img id="cardimage" src="../../assets/icon/favicon.png"/>
      <ion-card-header>
        <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
        <ion-card-title>{{product.productTitle}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2><strong>{{product.availableUnits}}</strong>:عدد المنتجات المتوفرة</h2>
      </ion-card-content>
    </ion-card>
  </div>


  <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->
</ion-content>
