<ion-header>
  <ion-toolbar>
    <ion-searchbar mode="ios" cancelButtonText="الغاء" showCancelButton="always" placeholder="ابحث عن منتج أو بائع" (ionInput)="handleText($event)" animated><ion-icon (click)="backToHome()" size="large" class="icon" name="arrow-back-circle-sharp"></ion-icon><ion-icon size="large" name="person" (click)="routeProfile()" *ngIf="this.loggedin"></ion-icon></ion-searchbar>
    
    <ion-segment #categories scrollable="true" (ionChange)="filterCategory($event)">
      <ion-segment-button *ngFor="let category of productCategories; i as index" [value]="category">
        <ion-label>{{category}}</ion-label>
      </ion-segment-button>

        <ion-label *ngIf="categories.value != null" id="cancelCategory">الغاء الفلتر</ion-label>
    </ion-segment>
    <!-- <strong><ion-icon size="large" name="filter-outline" slot="end"></ion-icon></strong> -->
    <!-- <ion-select id="category" #category slot="end" placeholder="اختر فئة أو نوع المنتج" interface="popover" formControlName="productCategory" required="true">

      <ion-select-option *ngFor="let category of productCategories; i as index" [value]="category">{{category}}</ion-select-option>
      
    </ion-select> -->
  </ion-toolbar> 
</ion-header>

<ion-content fullscreen class="maincontent">
  <div id="fulllist" >
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let product of productions; index as i">
          <ion-card (click)="showProductPage(product)" *ngIf="product">
            <img id="cardimage" [src]="product.image"/>
            <ion-card-header>
              <ion-card-title>{{product.productTitle}}</ion-card-title>
              <ion-card-subtitle>{{product.productCategory}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p style="display: none;">{{product.productOwner}}</p>
              <!-- <h2 slot="end">نوع المنتج: <strong></strong></h2><hr> -->
              <h2 slot="end"><strong>{{product.availableUnits}}</strong>   :القطع المتوفرة</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col *ngFor="let product of scol; index as i">
          <ion-card *ngIf="product" (click)="showProductPage(product)" >
          <img  id="cardimage" [src]="product.image"/>
          <ion-card-header>
            <ion-card-title>{{product.productTitle}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2><strong>{{product.availableUnits}}</strong>:العدد</h2>
          </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </div>

</ion-content>
