<ion-header>
  <ion-toolbar>
    <ion-searchbar mode="ios" cancelButtonText="الغاء" showCancelButton="focus" placeholder="ابحث عن منتج محدد" (ionInput)="handleText($event)" animated><ion-icon color="light" (click)="backToHome()" size="large" class="icon" name="arrow-back-circle-sharp"></ion-icon><ion-icon color="light" size="large" name="person" (click)="routeProfile()" *ngIf="this.loggedin"></ion-icon></ion-searchbar>
  </ion-toolbar> 
</ion-header>

<ion-content fullscreen class="maincontent">
  <div id="fulllist" >
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let product of productions; index as i">
          <ion-card (click)="showProductPage(product)" *ngIf="product">
            <img id="cardimage" [src]="product.image"/>
            <ion-card-header>
              <ion-card-title>{{product.productTitle}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <h2><strong>{{product.availableUnits}}</strong>:العدد</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col *ngFor="let product of scol; index as i">
          <ion-card *ngIf="product" (click)="showProductPage(product)" >
          <img  id="cardimage" [src]="product.image"/>
          <ion-card-header>
            <ion-card-title>{{product.productTitle}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2><strong>{{product.availableUnits}}</strong>:العدد</h2>
          </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </div>

</ion-content>
