#fulllist{
    background:transparent;
    display:inline;
}

ion-card{
    --background:rgba(234, 0, 255, 0.301);
    color: black;
    width: 95%;
    border-radius: 10%;
    height: auto;
}

ion-searchbar{
    margin-top: 10px;
}

#cardimage{
    height: auto;
    width: auto;
    position: center;
}