#fulllist{
    background:transparent;
    display: inline-flex;
}

ion-card{
    --background:rgba(234, 0, 255, 0.301);
    color: black;
    width: 50%;
    border-radius: 10%;
}

ion-searchbar{
    margin-top: 10px;
}