.maincontent{
    text-align: end;
    background: transparent;
}

.myalert.deletealert{
    color: white;
    background-color: red;
}

#divider{
    text-align: right;
    background-color: transparent;
    color: #000;
}

strong{
    font-weight: bolder;
    font-size: medium;
}

ion-icon{
    margin-top: 10px;
}