<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon (click)="backward()" size="large" class="icon" name="arrow-back-circle-sharp"></ion-icon><ion-icon size="large" name="person" (click)="routeProfile()" *ngIf="this.loggedin"></ion-icon>
      {{productinfo.productTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="maincontent">
    <ion-item-divider id="divider">
      <img id="cardimage" [src]="productinfo.image"/>
    </ion-item-divider>

    <ion-item-divider mode="ios" id="divider">
      <ion-text slot="end"><strong>:الوصف</strong>    <br>{{productinfo.productDisciption}}</ion-text>
    </ion-item-divider>

    <ion-item-divider mode="ios" id="divider">
      <ion-text slot="end"><br><br>KG   {{productinfo.productQuantity}}</ion-text>
      <strong slot="end">:الكمية/ الوزن</strong>
    </ion-item-divider>

    <ion-item-divider mode="ios" id="divider">
      <ion-text slot="end"><br><br>JD   {{productinfo.productPrice}}</ion-text>
      <strong slot="end">:سعر المنتج</strong>
    </ion-item-divider>

    <ion-item-divider mode="ios" id="divider">
      <ion-text slot="end"> <br><br>{{productinfo.productDate}}</ion-text><strong slot="end">:تاريخ الانتاج</strong>
    </ion-item-divider>

    <ion-item-divider mode="ios" id="divider">
      <ion-text slot="end"> <br><br>{{productinfo.expirationDate}}</ion-text><strong slot="end">:تاريخ الانتهاء</strong>
    </ion-item-divider>
    <ion-item-divider mode="ios" id="divider">
      <ion-text *ngIf="!this.permit" slot="end"> <br><br>{{productinfo.expirationDate}}</ion-text><strong slot="end">:رقم هاتف البائع</strong>
    </ion-item-divider>
  </div>
  <ion-grid *ngIf="this.permit">
    <ion-row>
      <ion-col>
        <ion-button size="large" expand="block" color="danger" (click)="warningAlert()">حذف المنتج</ion-button>
      </ion-col>

      <ion-col>
        <ion-button size="large" expand="block" color="warning">تعديل بيانات المنتج</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button *ngIf="!this.permit" size="large" expand="block" color="success">شراء المنتج</ion-button>
</ion-content>
