.maincontent{
    text-align: right;
    background: transparent;
}

#divider{
    text-align: right;
    background-color: transparent;
    color: #000;
}

strong{
    font-weight: bolder;
    font-size: medium;
}