<ion-header>
  <ion-toolbar >
    <ion-button slot="start" size="small" fill="clear" expand="block" (click)="logout()">تسجيل الخروج</ion-button>
    <ion-title><h2 id="personalpage"><ion-icon (click)="backToHome()" size="large" class="icon" name="arrow-back-circle-sharp"></ion-icon>صفحتي الشخصية</h2></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>

    <ion-item slot="end">
      <strong><h1>اسم المستخدم:  {{userdata}}</h1></strong>
    </ion-item>

  </ion-item-divider>
  <div class="prods">
    <ion-item id="product" (click)="showproduct(product)" *ngFor="let product of products; index as i" lines="none" color="rgba(255, 0, 234, 0.329)">
      <!-- <ion-label><h2><strong></strong></h2></ion-label> -->
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-row>
              <h2>{{product.productTitle}}</h2>
            </ion-row>
            <ion-row>
              <h5>الفئة / نوع المنتج: {{product.productCategory}}</h5>
              <h5>{{product.availableUnits}}    :القطع المتوفرة</h5>
            </ion-row>
          </ion-col>
          <ion-col size="4">
            <img [src]="product.image" id="prodimage" width="150px" height="130px"/>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- <div style="color: white;">
        <h4 slot="end">{{product.productTitle}}</h4>
        <p>
          <strong>الفئة / نوع المنتج:</strong> {{product.productCategory}}
        </p>
        <p slot="end">
          {{product.availableUnits}}    <strong>:القطع المتوفرة</strong>
        </p>
      </div>
      <img [src]="product.image" id="prodimage" width="150px" height="100px"/> -->
    </ion-item>
  </div>

  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="navtoEditProfilePage()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
      <ion-label id="hint">تعديل البروفايل</ion-label>
      <ion-fab-button (click)="navtoAddPage()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-label id="hint">اضافة منتج</ion-label>
    </ion-fab-list>
  </ion-fab>
</ion-content>
