<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-button size="small" fill="clear" expand="block" (click)="logout()">تسجيل الخروج</ion-button>
        </ion-col>
        <ion-col size="8">
          <ion-title><h2 id="personalpage">صفحتي الشخصية</h2></ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getMyProducts($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="userdata === ''" id="userdata">
    <strong><h1 slot="end">
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
    </h1></strong>
  </div>
  <div *ngIf="userdata.length > 0" id="userdata">
    <strong><h1 slot="end">اسم المستخدم:  {{userdata}}</h1></strong>
  </div>

  <div *ngIf="products.length > 0" class="prods">
    <ion-item id="product" (click)="showproduct(product)" *ngFor="let product of products; index as i" lines="none" color="rgba(255, 0, 234, 0.329)">
      <!-- <ion-label><h2><strong></strong></h2></ion-label> -->
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-row>
              <h2>{{product.productTitle}}</h2>
            </ion-row>
            <ion-row>
              <h5>الفئة / نوع المنتج: {{product.productCategory}}</h5>
              <h5>{{product.availableUnits}}    :القطع المتوفرة</h5>
            </ion-row>
          </ion-col>
          <ion-col size="4">
            <img [src]="product.image" id="prodimage"/>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- <div style="color: white;">
        <h4 slot="end">{{product.productTitle}}</h4>
        <p>
          <strong>الفئة / نوع المنتج:</strong> {{product.productCategory}}
        </p>
        <p slot="end">
          {{product.availableUnits}}    <strong>:القطع المتوفرة</strong>
        </p>
      </div>
      <img [src]="product.image" id="prodimage" width="150px" height="100px"/> -->
    </ion-item>
  </div>

  <div *ngIf="!products.length > 0" class="prods">
    <ion-item id="product" lines="none" color="rgba(255, 0, 234, 0.329)">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-row>
              <h2>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h2>
            </ion-row>
            <ion-row>
              <h5>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </h5>
              <h5>
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
              </h5>
            </ion-row>
          </ion-col>
          <ion-col size="4">
            <ion-skeleton-text animated id="prodimage"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item id="product" lines="none" color="rgba(255, 0, 234, 0.329)">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-row>
              <h2>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h2>
            </ion-row>
            <ion-row>
              <h5>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </h5>
              <h5>
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
              </h5>
            </ion-row>
          </ion-col>
          <ion-col size="4">
            <ion-skeleton-text animated id="prodimage"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item id="product" lines="none" color="rgba(255, 0, 234, 0.329)">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-row>
              <h2>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h2>
            </ion-row>
            <ion-row>
              <h5>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </h5>
              <h5>
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
              </h5>
            </ion-row>
          </ion-col>
          <ion-col size="4">
            <ion-skeleton-text animated id="prodimage"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item id="product" lines="none" color="rgba(255, 0, 234, 0.329)">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-row>
              <h2>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h2>
            </ion-row>
            <ion-row>
              <h5>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </h5>
              <h5>
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
              </h5>
            </ion-row>
          </ion-col>
          <ion-col size="4">
            <ion-skeleton-text animated id="prodimage"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>

  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button id="fabicons" (click)="navtoEditProfilePage()">
        <ion-icon  name="create-outline"></ion-icon>
      </ion-fab-button>
      <ion-label id="hint">تعديل البروفايل</ion-label>
      <ion-fab-button id="fabicons" (click)="navtoAddPage()">
        <ion-icon  name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-label id="hint">اضافة منتج</ion-label>
    </ion-fab-list>
  </ion-fab>
</ion-content>
