#profilehead{
    align-self: start;
}

#userinfo{
    display: inline-table;
}

#product{
    background: rgba(255, 0, 234, 0.329);
    border-radius: 10px;
    margin-bottom: 10px;
}

ion-toolbar{
    display: flexbox;
}

ion-content{
    text-align: end;
}

ion-card{
    --background:rgba(234, 0, 255, 0.301);
    color: black;
    width: 100%;
    border-radius: 10%;
    height: auto;
}

.hint{
    background-color: rgba(0, 0, 0, 0.800);
    font-size: small;
    color: lightcyan;
    border-radius: 20%;
    text-align: center;
}

.prods{
    margin-top: 20px;
}

