#profilehead{
    align-self: start;
}

#personalpage{
    color: white;
}

#product{
    background: rgba(217, 255, 0, 0.301);
    border-radius: 10px;
    margin-bottom: 10px;
}

#climessage{
    font-size: large;
    background-color: rgba(255, 0, 221, 0.425);
    color: black;
}

ion-toolbar{
    display: flexbox;
}

#hint{
    background-color: black;
    font-size: small;
    border-radius: 20%;
    text-align: center;
}

.prods{
    margin-top: 20px;
    text-align: end;
}

