<ion-header [translucent]="false">
  <ion-title class="title">
    شباب التسوق
  </ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="textalign">
    <h2>
      !!!مرحباً
    </h2>
    <p>
    أهلاً بكم في تطبيقكم المخصص لخدمة ربات البيوت داخل مخيم الزعتري اللواتي يبحثن عن مكان لعرض منتجاتهن، لبيعها للمجتمعات داخل وخارج مخيم الزعتري
    </p>
    <ion-text>
      <strong>
        اختر إذا كنت تريد أن تستعمل تطبيقنا كبائع منتجات 
      أو تريد أن تستعرض المنتجات
      </strong>
    </ion-text>
  </div>
  <div id="container">
    <ion-button mode="ios" expand="block" color="secondary" fill="outline" (click)="costumers()"><strong>زبون</strong></ion-button>
    <ion-button mode="ios" expand="block" color="secondary" fill="outline" (click)="users()"><strong>بائع</strong></ion-button>
  </div>
</ion-content>
