<ion-header [translucent]="true">
  <h2 class="title">شباب التسوق</h2>
</ion-header>

<ion-content [fullscreen]="true" class="home">
  <div class="textalign">
    <h2>
      !!!مرحباً
    </h2>
    <p>
    أهلاً بكم في تطبيقكم المخصص لخدمة ربات البيوت داخل مخيم الزعتري اللواتي يبحثن عن مكان لعرض منتجاتهن، لبيعها للمجتمعات داخل وخارج مخيم الزعتري
    </p>
    <ion-text>
      <strong>
        اختر إذا كنت تريد أن تستعمل تطبيقنا كبائع منتجات 
      أو تريد أن تستعرض المنتجات
      </strong>
    </ion-text>
  </div>
  <div class="buttons">
    <ion-button mode="ios" expand="round" fill="solid" (click)="costumers()"><strong>زبون</strong></ion-button>
    <ion-button mode="ios" expand="round" fill="solid" (click)="users()"><strong>بائع</strong></ion-button>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <ion-text>
        :للشكاوي والاقتراحات تواصل معنا
      </ion-text>
    </ion-title>
    <ion-buttons>
      <ion-button size="large" href="{{'https://api.whatsapp.com/send?phone=962' + 798726360}}">
       واتساب <ion-icon color="success" size="large" name="logo-whatsapp"></ion-icon>
      </ion-button>
      <ion-button size="large" href="https://www.facebook.com/Youth-Marketing-107037065177889">
       فيسبوك <ion-icon color="primary" size="large" name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button href="mailto:youth.marketing.developer@gmail.com">
       ايميل <ion-icon src="../../assets/icons8-gmail-logo.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
