.editform{
    margin-top: 8%;
    text-align: end;
}
#closeIco{
    color: white;
}

#producttitleinput{
    color: white;
    border-radius: 20px;
    --background: transparent;
    --border-color: white;
    border-style:inset;
    text-align: center;
    height: 50px;
    font-weight: bolder;
}

#description{
    color: white;
    border-radius: 20px;
    --background: transparent;
    --border-color: white;
    border-style:inset;
    text-align: end;
    height: 60px;
    margin-top: 6%;
}

#numbers{
    color: white;
    margin-top: 6%;
    border-radius: 20px;
    --background: transparent;
    --border-color: white;
    border-style:inset;
    text-align: center;
}

#phonenumber{
    color: white;
    border-radius: 50px;
    --background: transparent;
    --border-color: white;
    border-style:inset;
    text-align: center;
    margin-top: 6%;
}

#price{
    color: white;
    border-radius: 50px;
    --background: transparent;
    --border-color: white;
    border-style:inset;
    text-align: center;
}

#errormessage{
    margin-top: 10%;
    margin-right: 5%;
    color: white;
    background-color: red;
}

#editedmessage{
    margin-top: 10%;
    margin-right: 5%;
    color: white;
    background-color: yellowgreen;
}

#picture{
    height: 50px;
}

#uploadpictue{
    margin-top: 6%;
    height: 50px;
    width: 95px;
}

#submitButt{
    margin-top: 8%;
}
