<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-icon id="closeIco" size="large" name="close-outline" (click)="closeModal()"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-title><strong>تعديل المنتج:  {{productTitle}}</strong></ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form class="editform" [formGroup]="editProductForm" (ngSubmit)="submitEditProduct()">
    <ion-item lines="full" id="producttitleinput">
      <ion-input
      placeholder="الاسم الجديد للمنتج في حال ترغب/ين بتغييره"
      type="text"
      formControlName="productTitle"
      ></ion-input>
    </ion-item>

    <ion-item lines="full" id="description">
      <ion-textarea
      placeholder="مواصفات المنتج في حال رغبت/ي بتعديلها"
      type="text"
      lines="full"
      inputmode="text"
      mode="ios"
      min="5"
      formControlName="productDiscription"
      ></ion-textarea>
    </ion-item>

    <ion-item lines="full" id="numbers">
      <ion-input             
      placeholder="عدد القطع المتوفرة بعد اضافة أو بيع قطعة"
      type="number"
      formControlName="availableUnits"
      ></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-item lines="full" id="numbers">
          <ion-input               
            placeholder="(0.5 JD) سعر المنتج"
            type="number"
            lines="full"
            formControlName="productPrice"
            ><ion-icon name="cash-outline"></ion-icon></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-label></ion-label>
        <ion-item lines="full" id="numbers">
          <ion-input              
          placeholder="الكمية باللتر /وزن المنتج"
          type="number"
          formControlName="productQuantity"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item lines="full" id="phonenumber">
      <ion-input 
      placeholder="أدخل رقم الهاتف الجديد يفضل رقم الواتس اب"
      type="tel"
      formControlName="phoneNumber"
      ><ion-icon name="call-sharp"></ion-icon></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-button id="uploadpictue" *ngIf="validateUploadButton" (click)="uploadNewImage()" color="success">تحميل الصورة</ion-button>
        </ion-col>
        <ion-col size="9">
          <ion-button type="button" id="picture" expand="block" (click)="selectImage()" color="secondary">تعديل صورة المنتج<ion-icon name="image-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <span slot="end" *ngIf="errormessage !== ''" id="errormessage"><ion-text>{{errormessage}}</ion-text></span>
    <span slot="end" *ngIf="editeddmessage !== ''" id="editedmessage"><ion-text>{{editedmessage}}</ion-text></span>
    <ion-button type="submit" [disabled]="!editProductForm.valid || !validity > 0 " color="success" size="large" expand="block" id="submitButt">تعديل المنتج</ion-button>
  </form>
</ion-content>

